body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body.page {
    width: 29.7cm;
    height: 21cm;
}
.container {
    position: relative;
}
h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
    margin: min(15px, 1%) 0;
    color: white;
    letter-spacing: 0.25em;
}
header {
    position: relative;
    width: 100%;
    height: 90px;
}
header svg.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
}
header svg.background path.mainColor {
    fill: var(--main-color);
}
header svg.background path.secondaryColor {
    fill: var(--secondary-color);
}
header img {
    position: absolute;
    z-index: 2;
    width: 80px;
    left: calc(50% - 40px);
    top: calc(100% - 45px);
}


main {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
}
main div {
    display: flex;
    flex-direction: column;
}
h2 {
    font-weight: bold;
}
div:nth-child(1) h2 {
    color: #94c4db;
}
div:nth-child(2) h2 {
    color: #7ba5b8;
}
div:nth-child(3) h2 {
    color: #afd676;
}
div:nth-child(4) h2 {
    color: #7aa641;
}
div:nth-child(5) h2 {
    color: #f5a286;
}
div:nth-child(6) h2 {
    color: #de6f4a;
}
div:nth-child(7) h2 {
    color: #e03c05;
}
.row-2 {
    grid-column: span 2;
}
.row-3 {
    grid-column: span 3;
}
.row-4 {
    grid-column: span 4;
}
.col-2 {
    grid-row: span 2;
}
.col-3 {
    grid-row: span 3;
}
.col-4 {
    grid-row: span 4;
}
p {
    padding: 0;
    margin: 0;
}
pre code.hljs {
    padding: 0.5em;
}
footer {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    background-color: var(--main-color);
    border-bottom: 10px solid  var(--secondary-color);
    margin-right: 20px;
}