# IDEs and editors
.DS_store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

build
node_modules

dist