@import url("../template-common.css");



body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    @media (max-width: 700px) {
        --global-font-size: 2vw;
    }

    @media (min-width: 700px) {
        --global-font-size: 1vw;
    }

    @media (min-width: 1200px) {
        --global-font-size: min(0.6vw, 14px);
    }

    & .container {
        --card-padding: 20px;
        position: relative;

        & main {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 20px;
            padding: 40px 40px;
        }
        & main::after {
            content: "";
            flex: auto;
        }

        & .card {

            @media (max-width: 700px) {
                width: 90vw;
                height: calc(90vw * 1.33);
            }
            @media (min-width: 700px) {
                width: calc(50vw - 20px - 2 * var(--card-padding));
                height: calc((50vw - 20px - 2 * var(--card-padding)) * 1.33);
            }

            @media (min-width: 1200px) {
                width: calc(30vw);
                height: calc(30vw * 1.33);
            }


            & .inner-card {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
            }

            & .recto, & .verso {
                position: absolute;
                width: calc(100% - 2 * var(--card-padding));
                height: calc(100% - 2 * var(--card-padding));
                padding: var(--card-padding);
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
            }
            & .recto {
                display: flex;
                flex-direction: column;

                & .head {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 2 * var(--card-padding));
                    height: 30%;
                    margin-bottom: 10px;
                    padding: var(--card-padding);
                    background: linear-gradient(45deg, var(--card-gradient-color1) 0%, var(--card-gradient-color2) 100%);
                    color: var(--card-head-color);
                }


                & p {
                    margin: 0;
                    font-size: 1.2em;
                    text-justify: auto;

                    & strong {
                        font-size: 1.2em;
                    }

                    &:has(img) {
                        text-align: center;
                        margin: 10px 0;
                    }
                }

                & h2 {
                    margin-top: 15%;
                    margin-bottom: 0;
                    font-size: 2.4em;
                }

                & blockquote {
                    margin: 0;
                    font-size: 1.2em;
                }

                & img {
                    max-width: 80%;
                    max-height: calc(10vw * 1.33);
                }
            }

            & .verso {
                font-size: 1.2em;
                transform: rotateY(180deg);

                & h2 {
                    margin: 0;
                    font-size: 1.8em;
                }

                & p {
                    &:has(strong):first-child {
                        color: var(--main-color);
                    }
                }


                & .card-logo-container {
                    background-color: black;

                    & .card-logo {
                        background-image: var(--verso-card-logo);
                    }
                }
            }


            & .card-logo-container {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 10px 0;

                & .card-logo {
                    width: 2vw;
                    height: 2vw;
                    min-width: 30px;
                    min-height: 30px;
                    background-image: var(--recto-card-logo);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            &.flip .inner-card {
                transform: rotateY(180deg);
            }
        }

    }
}



