@import url("../template-common.css");



body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    @media (max-width: 700px) {
        --global-font-size: 1.8vw;
    }

    @media (min-width: 700px) {
        --global-font-size: 0.95vw;
    }

    @media (min-width: 1200px) {
        --global-font-size: 0.63vw;
    }

    & .container {
        @media (max-width: 700px) {
            --card-padding: 2vw;
        }

        @media (min-width: 700px) {
            --card-padding: 1vw;
        }

        @media (min-width: 1200px) {
            --card-padding: 20px;
        }
        position: relative;

        & p {
            line-height: 1.7em;
        }

        & p, & ul {
            margin: 0.6em 0;
        }

        & main {
            display: grid;
            gap: 20px;
            padding: 4em;
            @media (max-width: 700px) {
                grid-template-columns: repeat(1, 1fr);
            }
            @media (min-width: 700px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (min-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        & main::after {
            content: "";
            flex: auto;
        }

        & .card {
            aspect-ratio: 1 / 1.33;

            & .inner-card {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
            }

            & ul {
                padding-left: 3em;
            }

            & .recto, & .verso {
                position: absolute;
                width: calc(100% - 2 * var(--card-padding));
                height: calc(100% - 2 * var(--card-padding));
                padding: var(--card-padding);
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
            }
            & .recto {
                display: flex;
                flex-direction: column;

                & .head {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 2 * var(--card-padding));
                    height: 30%;
                    margin-bottom: 1em;
                    padding: var(--card-padding);
                    background: linear-gradient(45deg, var(--card-gradient-color1) 0%, var(--card-gradient-color2) 100%);
                    color: var(--card-head-color);
                }


                & p {
                    margin: 0;
                    font-size: 1.2em;
                    text-justify: auto;

                    & strong {
                        font-size: 1.2em;
                    }

                    &:has(img) {
                        text-align: center;
                        margin: 1em 0;
                    }
                }

                & h2 {
                    margin-top: 15%;
                    margin-bottom: 0;
                    font-size: 2.4em;
                }

                & blockquote {
                    margin: 0;
                    font-size: 1.2em;
                }

                & img {
                    max-width: 80%;
                    @media (max-width: 700px) {
                        max-height: calc(30vw);
                    }
                    @media (min-width: 700px) {
                        max-height: calc(20vw);
                    }
                    @media (min-width: 1200px) {
                        max-height: calc(10vw);
                    }
                }
            }

            & .verso {
                display: flex;
                flex-direction: column;
                font-size: 1.2em;
                transform: rotateY(180deg);

                & h2 {
                    margin: 0;
                    font-size: 1.8em;
                }

                & > p:first-child strong {
                    color: var(--main-color);
                }


                & .card-logo-container {
                    background-color: black;

                    & .card-logo {
                        background-image: var(--verso-card-logo);
                    }
                }

                & img {
                    max-width: 100%;
                }
                & .img {
                    width: 100%;
                    &.small img {
                        max-width: 30%;
                    }
                    &.medium img {
                        max-width: 60%;
                    }
                    &.large img {
                        max-width: 90%;
                    }
                    & p {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin: 0;
                    }
                }
            }


            & .card-logo-container {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 0.7em 0;

                & .card-logo {
                    width: 3.5em;
                    height: 3.5em;
                    background-image: var(--recto-card-logo);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            &.flip .inner-card {
                transform: rotateY(180deg);
            }
        }

    }
}



