
<header class="header">
    <h1><%= title %></h1>
    <img src="<%= icon %>"/>
    <svg class="background" preserveAspectRatio="none" viewBox="0 0 198.29855 30.210863" version="1.1" id="svg5" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <defs id="defs2" />
        <g id="layer1" transform="translate(-0.17913148,-0.19217336)">
            <path class="secondaryColor" style="fill-opacity:1;stroke:none;stroke-width:0.269028" d="M 0.34289469,4.4298358 198.11942,4.4012843 100.74347,30.403036 Z" id="path339-8"/>
            <path class="mainColor" style="fill-opacity:1;stroke:none;stroke-width:0.264189" d="M 0.17913499,4.4149496 0.17913148,0.20535973 198.45181,0.19217336 198.47769,4.4149496 100.83304,24.007755 Z" id="path339" />
        </g>
    </svg>
    <svg id="back-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path class="mainColor"
            d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z" />
    </svg>
</header>