main {
  width: 100%;
  padding-top: 64px;

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    margin-top: 64px;

    & .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px 20px;
      background-color: var(--background-secondary-color);
      border-radius: 4px;

      & .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        background: linear-gradient(45deg, rgba(208, 31, 87, 1) 0%, rgba(221, 32, 72, 1) 100%);
      }

      & img {
        width: 50%;
        height: 50%;
      }

      & label {
        width: 100%;
        padding-top: 20px;
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
      }

      & p {
        margin: 28px 0 0;
      }
    }
  }
}