@import url("../template-common.css");

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    & .container {
        position: relative;

        & main {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(calc((1 / var(--column-number) * 100%) - 20px), 1fr));
            gap: 20px;
            padding: 30px 20px;

            & > div {
                display: flex;
                flex-direction: column;
                & h2 {
                    font-weight: bold;
                }

                & p {
                    padding: 0;
                    margin: 0;
                    & img {
                        max-width: 100%;
                    }
                }

                & pre code.hljs {
                    padding: 0.5em;
                }
            }

            & div:nth-child(1) h2 { color: #94c4db; }
            & div:nth-child(2) h2 { color: #7ba5b8; }
            & div:nth-child(3) h2 { color: #afd676; }
            & div:nth-child(4) h2 { color: #7aa641; }
            & div:nth-child(5) h2 { color: #f5a286; }
            & div:nth-child(6) h2 { color: #de6f4a; }
            & div:nth-child(7) h2 { color: #e03c05; }

            & h3 {
                color: #4a636e;
            }

            & h4 {
                color: #66838f;
            }

            & .row {
                --row: 1;
                grid-column: span var(--row);
            }
            & .col {
                --col: 1;
                grid-row: span var(--col);
            }
        }

    }
}




